{% extends "base.html" %}

{% block content %}
<div id="observaciones-content" class="col col-md-8">
	<h2>Observaciones</h2>
	{% if observaciones %}
		<table id="observaciones_tbl" class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Categor&iacute;a</th>
					<th>Observaci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
				{% for observacion in observaciones  %}
					<tr>
						<th scope="row"><a href="{% url 'detalleobservacion' observacion_pk=observacion.pk %}">{{observacion.pk}}</a></th>
						<th><a href="{% url 'detalleobservacion' observacion_pk=observacion.pk %}">{{observacion.categoria.nombre}}</a></th>
						<th><a href="{% url 'detalleobservacion' observacion_pk=observacion.pk %}">{{observacion.observacion}}</a></th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	<p class="text-center">
		No se han encontrado resultados!
	</p>
	{% endif %}
</div>
{% endblock %}
