{% extends "base.html" %} {% load googlecharts %} {% load calculation %}

{% block content %}
  {# container #}
  <div id="graphics-content" class="col col-md-10 col-lg-8">
    <div class="loader"></div>
    <div id="graficas" class="invisible">
      <div class="gp1">
        <div id="chartLinear"></div>
        <p class="pearson">
          El valor de la correlación es de: {{pearson}}
        </p>
      </div>
      {% calculateAvE pacientes as gp2 %}
      <div class="gp2">
        <div id="chart_div"></div>
      </div>
      {% calculateRvE pacientes as gp3 %}
      <div id="chart2_div"></div>
    </div>
  </div>
  {% googlecharts %}
  {% endgooglecharts %}
</div>

<script type="text/javascript">
  var arrayPearson = JSON.parse("{{ values }}");
  var dataPearson = [['ASA', 'RCV']];

  google.load("visualization", "1.1", {packages: ["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    for (var i = 0; i < arrayPearson.length; i++) {
      dataPearson.push(arrayPearson[i]);
    }
    var data = google.visualization.arrayToDataTable(dataPearson);

    var options = {
      title: 'Gráfica Correlación de Pearson',
      hAxis: {
        minValue: 0,
        maxValue: 70,
        title: 'Resultado ASA'
      },
      vAxis: {
        minValue: 0,
        maxValue: 96,
        title: 'Resultado RCV'
      },
      chartArea: {width:'50%'},
      trendlines: {
        0: {
          type: 'linear',
          visibleInLegend: false
        }
      }
    };

    var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear'));
    chartLinear.draw(data, options);
  }

  // grafico 2

  var arrayAE = JSON.parse("{{gp2}}");

  var datagp2 = [
    ["18-34"],
    ["35-39"],
    ["40-44"],
    ["45-49"],
    ["50-54"],
    ["55-59"],
    ["60-65"],
  ];

  for (var i = 0; i < arrayAE.length; i++) {
    for (var j = 0; j < arrayAE[i].length; j++) {
      datagp2[j].push(arrayAE[i][j]);
    }
  }

  google.load("visualization", "1.1", {packages: ['corechart', 'bar']});
  google.setOnLoadCallback(drawMultSeries);

  function drawMultSeries() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Autocuidado/Edad');
    data.addColumn('number', 'Hombres');
    data.addColumn('number', 'Mujeres');

    data.addRows(datagp2);

    var options = {
      title: 'Gráfica Autocuidado/Edad',
      hAxis: {
        title: 'Rango de Edades',
        format: 'h:mm a',
        viewWindow: {
          min: [7, 30, 0],
          max: [17, 30, 0]
        }
      },
      vAxis: {
        title: 'ASA'
      },
      chartArea: {width:'50%'}
    };

    var chart = new google.visualization.ColumnChart(
      document.getElementById('chart_div'));

    chart.draw(data, options);
  }

  // Tercer Gráfico

  var arrayRE = JSON.parse("{{gp3}}");

  var datagp3 = [
    ["18-34"],
    ["35-39"],
    ["40-44"],
    ["45-49"],
    ["50-54"],
    ["55-59"],
    ["60-65"],
  ];

  for (var i = 0; i < arrayRE.length; i++) {
    for (var j = 0; j < arrayRE[i].length; j++) {
      datagp3[j].push(arrayRE[i][j]);
    }
  }

  google.load("visualization", "1.1", {packages: ['corechart', 'bar']});
  google.setOnLoadCallback(drawMultSeries2);

  function drawMultSeries2() {
    var data2 = new google.visualization.DataTable();
    data2.addColumn('string', 'Riesgo/Edad');
    data2.addColumn('number', 'Hombres');
    data2.addColumn('number', 'Mujeres');

    data2.addRows(datagp3);

    var options2 = {
      title: 'Gráfica RCV/Edad',
      hAxis: {
        title: 'Rango de Edades',
        format: 'h:mm a',
        viewWindow: {
          min: [7, 30, 0],
          max: [17, 30, 0]
        }
      },
      vAxis: {
        title: 'RCV'
      },
      chartArea: {width:'50%'},
    };

    var chart = new google.visualization.ColumnChart(
    document.getElementById('chart2_div'));
    chart.draw(data2, options2);
  }
</script>
{% endblock %}
