{% extends 'base.html' %} {% load static %} {% block title %}Cardiocare{% endblock %} {% block content %}
  <div id="login-container" class="col col-sm-8 col-md-8 col-lg-6 col-xl-3 mx-auto">
     <div class="logo-loguin">
       <img class="img-fluid" alt="logo" src="{% static 'images/logoblanco.png' %}"/>
     </div>
     <form method="post" id="login-form">
        {% csrf_token %}
        <ul class="list-unstyled">
          {% for field in form %}
            <li>
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
            </li>
          {% endfor %}
        </ul>
       <button type="submit">Enviar</button>
     </form>
  </div>
{% endblock %}
