{% extends 'base.html' %} {% load static %} {% block title %}Cardiocare{% endblock %} {% block content %}
  <div id="login-container" class="col col-sm-8 col-md-8 col-lg-6 col-xl-3 mx-auto">
      <div class="logo-loguin">
        <img class="img-fluid" alt="logo" src="{% static 'images/logoblanco.png' %}"/>
      </div>
      <p style="text-align:center;">
        La contraseña se restableció con éxito.
      </p>
      <p class="text-center">
        Si ya tienes cuenta, <a href="{% url 'login' %}">¡inicia sesi&oacute;n!</a>
      </p>
  </div>
{% endblock %}
