{% extends 'base.html' %} {% load static %} {% block title %}Cardiocare{% endblock %} {% block content %}
<div id="login-container" class="col col-sm-8 col-md-8 col-lg-6 col-xl-3 mx-auto">
   <div class="logo-loguin">
     <img class="img-fluid" alt="logo" src="{% static 'images/logoblanco.png' %}"/>
   </div>
   <p>
    Hemos enviado un mail con las instrucciones para configurar tu contraseña, si existe una cuenta asociada al correo electrónico ingresado, deberías recibirlo en breve.
   </p>
 </div>
 {% endblock %}
