{% extends 'base.html' %} {% load static %} {% block title %}Cardiocare{% endblock %} {% block content %}
<div id="login-container" class="col col-sm-8 col-md-8 col-lg-6 col-xl-3 mx-auto">
  <div class="logo-loguin">
    <img class="img-fluid" alt="logo" src="{% static 'images/logoblanco.png' %}"/>
  </div>
  <h2 class="text-center">Recuperar Contraseña</h2>
  <form method="post" id="login-form">
    {% csrf_token %}
    {{ form.email.errors }}
    <ul class="list-unstyled">
      <li>
        <label for="email">Correo</label>
        <input type="email" name="email" required="" id="id_email" maxlength="254">
      </li>
    </ul>
    <button type="submit">Enviar</button>
  </form>
  <p class="text-center">
    Si ya tienes cuenta, <a href="{% url 'login' %}">¡inicia sesi&oacute;n!</a>
  </p>
</div>
{% endblock %}
