{% extends 'base.html' %} {% block content %}
<div id="new-paciente-container" class="col col-md-8">
  <h2 class="text-center"><i class="material-icons">healing</i>&nbsp;H&aacute;bitos y Antecedentes</h2>

  <div class="row">
    <div class="col col-md-12">
      <h2>Paciente:&nbsp;<a href="{% url 'detallepaciente' paciente_pk=paciente.pk %}">{{paciente.cod_paciente}}</a></h2>
      <h3>Nombre: {{paciente.nombre}}&nbsp;{{paciente.primer_apellido}}&nbsp;{{paciente.segundo_apellido}}</h3>
      <p class="creation-date">Fecha de creación: {{paciente.fecha_creacion}}</p>
    </div>
  </div>
  <form method="post" id="newHabitsForm">
    {% csrf_token %}
    <div class="row">
      {% for field in form %}
      <div class="col col-md-6 col-lg-6 checkbox-cont">
        {{ field }} {{ field.label_tag }}
        {% for error in field.errors %}
          <p style="color: red">{{ error |safe }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col col-md-6 col-lg-6">
        <button type="submit" class="btn btn-primary text-center">Guardar</button>
      </div>
      <div class="col col-md-6 col-lg-6">
        <a href="{% url 'index' %}" class="btn btn-danger text-center">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
