{% extends "base.html" %}

{% block content %}
<div id="tests-content" class="col col-md-8">
	<a href="{% url 'nuevolipidicoform' paciente_pk=request.user.paciente.pk %}" class="btn btn-primary float-right"><i class="material-icons">note_add</i>&nbsp;Examen lip&iacute;dico</a>
	<h2>Examenes lip&iacute;dicos</h2>
	{% if tests %}
		<table id="lipidicos_tbl" class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Codigo Paciente</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Segundo Apellido</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				{% for test in tests  %}
					<tr>
						<th scope="row">{{test.seguimiento}}</th>
						<th>{{test.paciente.cod_paciente}}</th>
						<th>{{test.paciente.nombre}}</th>
						<th>{{test.paciente.primer_apellido}}</th>
						<th>{{test.paciente.segundo_apellido}}</th>
						<th>{{test.fecha}}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	<p class="text-center">
		No se han encontrado resultados!
	</p>
	{% endif %}
</div>
{% endblock %}
