{% extends "base.html" %}

{% block content %}
<div id="pacientes-content" class="col col-md-8">
	<a href="{% url 'nuevopaciente' %}" class="btn btn-primary float-right"><i class="material-icons">add</i>&nbsp;<span>A&ntilde;adir</span></a>
	<h2>Pacientes</h2>
	{% if tests %}
		<table id="pacientes_tbl" class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Codigo Paciente</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Segundo Apellido</th>
					<th>Fecha Nacimiento</th>
					<th>Regimen Salud</th>
				</tr>
			</thead>
			<tbody>
				{% for paciente in pacientes  %}
					<tr>
						<th scope="row">{{paciente.pk}}</th>
						<th>{{paciente.cod_paciente}}</th>
						<th>{{paciente.nombre}}</th>
						<th>{{paciente.primer_apellido}}</th>
						<th>{{paciente.segundo_apellido}}</th>
						<th>{{paciente.fecha_nacimiento}}</th>
						<th>{{paciente.regimen_salud}}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="text-center">
			No se han encontrado resultados!
		</p>
	{% endif %}
</div>
{% endblock %}
