{% extends 'base.html' %} {% block title %}Cardiocare{% endblock %} {% block content %}
<div id="register-container" class="col col-md-10 col-lg-8">
  <h2 class="text-center">Registro</h2>
  <p class="label_required">Los campos marcados con (*) son obligatorios</p>
  <form method="post" id="registerForm" class="row">
    {% csrf_token %}
    {% for field in form %}
    <div class="col-12 col-sm-6 col-md-4 _field">
      <label for="{{ field.label }}">{% if field.field.required %}<span class="special_class" style="vertical-align:sub">*</span>{% endif %} {{ field.label_tag }}</label>
      <br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error |safe }}</p>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="col col-sm-12">
      <div class="col col-sm-4 singup-button">
        <button type="submit">Registro</button>
      </div>
    </div>

  </form>
  <p class="text-center">
    Si ya tienes cuenta, <a href="{% url 'login' %}">¡inicia sesi&oacute;n!</a>
  </p>
</div>
{% endblock %}
