/* main: ../app.scss */

html,
body {
	font-family: $openSans;
	font-size: 1rem;
}

h1 {
	color: $black;
}

a {
	background: transparent;
	transition: background ease-in-out 0.5s;
	will-change: background;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

textarea.form-control {
	resize: none;
}

button {
	width: 100%;
	background: $blue;
	transition: background ease-in-out 0.5s;
	will-change: background;
	border: 0;
	height: 40px;
	color: $white;
	&:hover,
	&:focus {
		background: $blue90;
	}
}
