/* main: ../app.scss */

html,
body {
	font-family: $montserrat;
	font-size: 1rem;
	background: $gray-light;
}

h1 {
	color: $black;
}

a {
	background: transparent;
	transition: background ease-in-out 0.5s;
	will-change: background;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

textarea.form-control {
	resize: none;
}

button {
	width: 100%;
	background: $blue;
	transition: background ease-in-out 0.5s;
	will-change: background;
	border: 0;
	height: 40px;
	color: $white;
	&:hover,
	&:focus {
		background: $blue90;
	}
}

form {
	.row {
		margin-bottom: 10px;
		align-items: center;
		height: 60px;
		label {
			margin: 0;
		}
	}
}

.btn {
	justify-content: center;
}

.btn,
.dropdown-item {
	display: flex;
	align-items: center;
	i {
		margin-right: 10px;
	}
}

.card {
	margin-bottom: 50px;
	.card-title {
		color: $gray-dark2;
		letter-spacing: 0;
	}
	.card-text {
		color: $gray-dark2;
		letter-spacing: 0;
	}
	ul {
		li {
			a {
				letter-spacing: 0;
				color: $green;
			}
		}
	}
}

._field{
	border-bottom: 1px solid $gray;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.return {
 	a {
		background: #FE8F00;
	  width: 100%;
	  border: 0;
	  height: 40px;
	  color: #fff;
	  border-radius: inherit;
	}
	a:hover {
		background: #FE8F00;
	  width: 100%;
	  border: 0;
	  height: 40px;
	  color: #fff;
	  border-radius: inherit;
	}
}

.loader {
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 31%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
