/* main: ../app.scss */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$black: #000;
$white: #fff;
$red: #f01516;
$gray: #ccc;
$grayblue: #f1f4f5;
$graydark: #4a4a4a;
$blue: #4183c4;
$blue90: rgba(65, 131, 196, 0.9);

$oswald: "Oswald", sans-serif;
$openSans: "Open Sans", sans-serif;

$s8px: 0.5714rem;
$s9px: 0.6429rem;
$s10px: 0.7143rem;
$s11px: 0.7857rem;
$s12px: 0.8571rem;
$s13px: 0.9286rem;
$s14px: 1rem;
$s15px: 1.071rem;
$s16px: 1.143rem;
$s17px: 1.214rem;
$s18px: 1.286rem;
$s20px: 1.429rem;
$s22px: 1.571rem;
$s24px: 1.714rem;
$s26px: 1.857rem;
$s28px: 2rem;
$s30px: 2.143rem;
$s32px: 2.286rem;
$s34px: 2.429rem;
$s36px: 2.571;
$s38px: 2.714rem;
$s40px: 2.857rem;
