{% extends "base.html" %}

{% block content %}
<div id="pacientes-content" class="col-12 col-sm-12 col-md-10 col-lg-8">
	<div class="row">
		<div class="col col-sm-12 col-md-12">
			<div class="dropdown float-right">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="material-icons">settings</i>
				</a>

				<div class="dropdown-menu" aria-labelledby="dropdownSettings">
					<a href="{% url 'editarpaciente' paciente_pk=paciente.pk %}" class="dropdown-item"><i class="material-icons">edit</i>&nbsp;Editar</a>
				</div>
			</div>
			<h2>Paciente: {{paciente.cod_paciente}}</h2>
			<h3>{{paciente.nombre}}&nbsp;{{paciente.primer_apellido}}</h3>
			<p class="creation-date">Fecha de creación: {{paciente.fecha_creacion}}</p>
		</div>
		<div class="col-8 col-md-4">
			<p>
				Género: <span>{% if paciente.genero == 'F' %}Femenino{% else %}Masculino{% endif %}</span>
			</p>
		</div>
		<div class="col-4 col-md-4">
			<p>
				Edad: <span>{{paciente.age}}</span>
			</p>
		</div>
		<div class="col-8 col-md-4">
			<p>
				Tel&eacute;fono: <span>{{paciente.telefono}}</span>
			</p>
		</div>
		<div class="col-4 col-md-4">
			<p>
				Estrato: <span>{{paciente.estrato}}</span>
			</p>
		</div>
		<div class="col-8 col-md-4">
			<p>
				Estado Civil: <span>{{paciente.estado_civil}}</span>
			</p>
		</div>
		<div class="col-4 col-md-4">
			<p>
				Aseguramiento en Salud: <span>{{paciente.regimen_salud}}</span>
			</p>
		</div>

		<div class="col-12 col-md-8">
			<p>
				Facultad: <span>{{paciente.facultad}}</span>
			</p>
		</div>
	</div>
</div>
{% endblock %}
